
.navbar {
    height: 100px;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 4px rgba(0,0,0,.25);
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;

    .nav-item-logo {
      height: 7rem;
    }
}
